In [79]:
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV
import pandas as pd

california = fetch_california_housing()

model = Lasso(alpha=0.1)
X_train, X_test, y_train, y_test = train_test_split(california.data, california.target, test_size=0.3, random_state=100)
model.fit(X_train,y_train)

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [80]:
print('학습 데이터 점수: {}'.format(model.score(X_train, y_train)))
print('평가 데이터 점수: {}'.format(model.score(X_test, y_test)))
print('y = ' + str(model.intercept_) + ' ')
for i,c in enumerate(model.coef_):
  print(str(c) + ' * x' + str(i))

학습 데이터 점수: 0.5389071766593554
평가 데이터 점수: 0.5573020238926716
y = -7.622686396195066
0.387914488971013 * x0
0.015202012631075505 * x1
-0.0 * x2
0.0 * x3
1.66971051187986e-05 * x4
-0.0036059747326681745 * x5
-0.11241351266587753 * x6
-0.09830323196349072 * x7

In [81]:
california_df = pd.DataFrame(data=california.data, columns = california.feature_names)
california_df.describe()

             MedInc      HouseAge  ...      Latitude     Longitude
count  20640.000000  20640.000000  ...  20640.000000  20640.000000
mean       3.870671     28.639486  ...     35.631861   -119.569704
std        1.899822     12.585558  ...      2.135952      2.003532
min        0.499900      1.000000  ...     32.540000   -124.350000
25%        2.563400     18.000000  ...     33.930000   -121.800000
50%        3.534800     29.000000  ...     34.260000   -118.490000
75%        4.743250     37.000000  ...     37.710000   -118.010000
max       15.000100     52.000000  ...     41.950000   -114.310000

[8 rows x 8 columns]

In [82]:
scaler = MinMaxScaler()
california_scaled = scaler.fit_transform(california_df)
california_df_scaled = pd.DataFrame(data=california_scaled, columns=california.feature_names)
california_df_scaled.describe()

             MedInc      HouseAge  ...      Latitude     Longitude
count  20640.000000  20640.000000  ...  20640.000000  20640.000000
mean       0.232464      0.541951  ...      0.328572      0.476125
std        0.131020      0.246776  ...      0.226988      0.199555
min        0.000000      0.000000  ...      0.000000      0.000000
25%        0.142308      0.333333  ...      0.147715      0.253984
50%        0.209301      0.549020  ...      0.182784      0.583665
75%        0.292641      0.705882  ...      0.549416      0.631474
max        1.000000      1.000000  ...      1.000000      1.000000

[8 rows x 8 columns]

In [84]:
X_train, X_test, y_train, y_test = train_test_split(california_df_scaled, california.target, test_size=0.3, random_state=100)

model.fit(X_train,y_train)

print('학습 데이터 점수: {}'.format(model.score(X_train, y_train)))
print('평가 데이터 점수: {}'.format(model.score(X_test, y_test)))

학습 데이터 점수: 0.03179418081928609
평가 데이터 점수: 0.03200231614440907

정규화를 진행했지만 모델 성능의 영향 x

In [85]:
alpha = [0.001,0.01,0.1,1,10,100,1000]
param_grid = dict(alpha=alpha)

gs = GridSearchCV(estimator=Lasso(),param_grid = param_grid,cv=10)
result = gs.fit(california_df_scaled,california.target)

print('최적 점수 : {}'.format(result.best_score_))
print('최적 파라미터 : {}'.format(result.best_params_))
print(gs.best_estimator_)
pd.DataFrame(result.cv_results_)

최적 점수 : 0.5025759576475576
최적 파라미터 : {'alpha': 0.001}
Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

   mean_fit_time  std_fit_time  ...  std_test_score  rank_test_score
0       0.014054      0.002400  ...        0.067412                1
1       0.011291      0.001801  ...        0.132744                2
2       0.006408      0.003730  ...        0.313107                3
3       0.005006      0.000193  ...        0.321468                4
4       0.005265      0.000579  ...        0.321468                4
5       0.004976      0.000079  ...        0.321468                4
6       0.005002      0.000205  ...        0.321468                4

[7 rows x 19 columns]

In [88]:
model = Lasso(alpha=0.001)

X_train, X_test, y_train, y_test = train_test_split(california_df_scaled, california.target, test_size=0.3, random_state=100)

model.fit(X_train,y_train)

print('학습 데이터 점수: {}'.format(model.score(X_train, y_train)))
print('평가 데이터 점수: {}'.format(model.score(X_test, y_test)))

학습 데이터 점수: 0.5875254870755893
평가 데이터 점수: 0.6089154932679167

최적파라미터를 대입하여 모델 성능 상승